body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	background: beige;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
header {
	width: 100%;
	height: 60px;
	
}
header nav {
	display: flex;
	justify-content: flex-end;
}
header nav ul {
	list-style: none;
	display: flex;
	width: 300px;
	justify-content: center;
	align-items: center;
}

header nav ul li a {
	text-decoration: none;
	margin-right: 10px;
}
header nav ul .menu-icon img {
	/* background-image: url('../menu-de-puntos.png'); */
	width: 20px;
	height: 20px;
}
header nav ul li:last-child img {
	border-radius: 50%;
	margin-left: 10px;
}

/* main*/

main {
	text-align: center;
	margin-top: 150px;
}
main .main-logo,
main .main-input {
	width: 530px;
	margin: 0 auto;
}
main .main-logo img {
	width: 272px;
	height: 92px;
}
main .main-input {
	margin-bottom: 50px;
}
main .main-input .main-input-container {
	width: 525px;
	border-radius: 100px;
	border: 1px solid #dfe1e5;
	display: flex;
	justify-content: center;
	align-items: center;

}
main .main-input .main-input-container input {
	width: 450px;
	height: 40px;
	border: none;
	outline: none;
}
main .main-input .main-input-container:hover {
	box-shadow: 0 1px 6px 0 #20212447;
	border-color: #dfe1e500;
}
main .main-input .search-icon {
	background-image: url('./search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
}
main .main-input .micro-icon {
	background-image: url("./google-voice.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
main .main-buttons {
	width: 530px;
	margin: 0 auto;
}
main .main-buttons div {
	display: inline-block;
}
main .main-buttons div button {
	height: 36px;
	background-color: #f2f2f2;
	border: none;
	font-size: 14px;
	border-radius: 5px;
	padding: 0 15px;
	/* margin-right: 20px; */
}
main .main-buttons div:nth-child(1) button {
	margin-right: 20px;
}
main .main-buttons button:hover {
	border: 1px solid #c6c6c6;
	color: #fff;
}
/* first way: using display flex, and setting display flex to body and deleting margin-top to main section */
/* footer {
	background-color: gray;
	display: flex;
	justify-content: space-between;	
}
footer  ul {
	display: flex; 
}
footer ul li {
	margin-right: 10px;
} */

/*other way, using position absolute, and display: grid*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}

footer .footer-left {
	justify-self: left;
}
footer .footer-right {
	justify-self: right;
}
footer ul {
	display: flex;
}
footer ul li {
	margin-right: 10px;
}